<div class="row">
	<div class="row">
		<h1>Manage <%= @program.name %></h1>
	</div>
</div>

<%= form_for(@program) do |f| %>

	<div class="row">
		<div class="row">
			<h3>General Info</h3>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="row">
			<label>What is the name of your program?</label>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<%= f.text_field :name %>
			</div>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="row">
			<div class="small-3 columns">
				<label>How many minors will be attending? </label>
			</div>
			<div class="small-1 columns end">
				<%= f.number_field :num_minors %>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="row">
			<div class="small-3 columns">
				<label>How many adults will be supervising?</label>
			</div>
			<div class="small-1 columns end">
				<%= f.number_field :num_adults_supervising %>
			</div>
		</div>	
	</div>

	<br />

	<div class="row">
		<div class="row">
			<div class="small-2 columns">
				<label>Start Date:</label>
			</div>
			<div class="small-2 columns">
				<%= f.text_field :start_date, :as => :string, :class => "datepicker" %>
			</div>
			<div class="small-2 small-offset-3 columns">
				<label>End Date:</label>
			</div>
			<div class="small-2 columns end">
				<%= f.text_field :end_date, :as => :string, :class => "datepicker" %>
			</div>
		</div>
	</div>
	<br />
	<br />

	<!-- if the current user runs any of this program's affiliated organizations -->
	<% @program.organizations.each do |org| %>
		<% if current_user.organizations.include?(org) %>
		<div class="row">
			<h3>Add People from <%= org.name %> to <%= @program.name %></h3>
		</div>
		<div class="row">
			<div class="small-6 columns panel chosen-select-panel">
				<%= f.collection_select :individual_ids, org.individuals, :id, :name, {:include_blank => false}, {:class => "chosen-select", :multiple => "true"} %>
			</div>
		</div>
		
		<% end %>
	<% end %>

	<br />

	<div class="row">
		<h3>Add Additional Organizations to <%= @program.name %></h3>
	</div>
	<div class="row">
		<div class="small-6 columns panel chosen-select-panel">
			<%= f.collection_select :organization_ids, @orgs.alphabetical, :id, :name, {:include_blank => false}, {:class => "chosen-select", :multiple => "true"} %>
		</div>
	</div>

	<div class="row">
		<label>Tell us about this program. This is a good place for specifics (Location, Time, etc.)</label>
		<div class="row">
			<%= f.text_area :description  %>
		</div>
	</div>

	

	


	<div class="row">
		<div class="row">
			<%= f.submit "Submit", :class => "button right" %>
		</div>
	</div>
<% end %>