<div class="row">
    <%=link_to fa_icon("edit"), edit_program_path, class:"edit-icon" %>
    <h1><%= @program.name %></h1>
    <h2>General Info</h2>
    <h4><%= "Affiliated Organization".pluralize(@program.organizations.size) +":" %></h4>
        <% @program.organizations.each do |org| %>
        <div class="row">
            <div class="small-6 columns">
                <%= link_to org.name, org %>
            </div>
            <div class="small-6 columns">
            </div>
        </div>
            
        <% end %>
        <br>
        <div class="row">
            <div class="small-4 columns">
                Time Frame: <%= @program.calculate_time_frame %>
            </div>
            <div class="small-4 columns">
                Number of Minors: <%= @program.num_minors %>
            </div>
        </div>
    <h3 class="subheading">Description</h3>
        <p><%= @program.description %>
    <h2>People Participating in the Program</h2>

    <a href=<%= edit_program_path %> class="button">
        <%= fa_icon("plus") %> Add People
    </a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Cleared</th>
            </tr>
        </thead>
      <tbody>
        <% @participants.each do |individual| %>
            <tr>
                <td><%= individual.f_name %> <%= individual.l_name %></td>
                <td><%= individual.contact.email %></td>
                <td>
                    <% if !individual.bg_check.nil? and individual.bg_check.status == 4 %>
                        <%=fa_icon("check", class: "check-icon")%>
                    <% end %>
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>