<div class="row">
    <%=link_to fa_icon("edit"), edit_program_path, class:"edit-icon" %>
    <h1><%= @program.name %></h1>
    <h2>General Info</h2>
    <%= "Affiliated Organization".pluralize(@program.organizations.size) +":" %>
        <% @program.organizations.each do |org| %>
            <p>
                <%= link_to org.name, org %>
            </p>
        <% end %>
        <div class="row">
            <div class="small-4 columns">
                Start Date: <%= @program.start_date.strftime "%m/%d/%y" %>
            </div>
            <div class="small-4 columns">
                End Date: <%= @program.end_date.strftime "%m/%d/%y" %>
            </div>
            <div class="small-4 columns">
                Number of Minors: <%= @program.num_minors %>
            </div>
        </div>
    <h3 class="subheading">Description</h3>
        <p><%= @program.description %>
    <h2>People Participating in the Program</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Cleared</th>
            </tr>
        </thead>
      <tbody>
        <% @program.participants.each do |participant| %>
            <tr>
                <td><%= participant.individual.f_name %> <%= participant.individual.l_name %></td>
                <td><%= participant.individual.contact.email %></td>
                <td>
                    <% if participant.individual.bg_check.nil? %>
                        <%=fa_icon("close", class: "close_icon") %>
                    <% elsif participant.individual.bg_check.status == 2 %>
                        <%=fa_icon("check", class: "check_icon")%>
                    <% else %>
                        <%=fa_icon("close", class: "close_icon")%>
                    <% end %>
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>