<div class="row" data-equalizer>
  <div class="small-2 columns leftNav" data-equalizer-watch>
    <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
     <ul class="side-nav">
      <li><div class="navHead">Actions</div></li>
      <li><%= link_to 'New Individual', new_individual_path %></li>

      <li><div class="navHead">Display</div></li>
      <li><%= link_to 'Students', 'students' %></li>
      <li><%= link_to 'Faculty', 'faculty' %></li>
      <br />
      <li><%= link_to 'Organizations', organizations_path %> </li>
      <li><%= link_to 'Programs', programs_path %></li>
    </ul> 
    <br />
  </div>

  <div class="small-10 columns rightContent" data-equalizer-watch>
    <h1>Students</h1>

    <%= render 'table_for_role' %>       

    <br>
  </div>

</div>
