<div class="row">
	<div class="small-2 large-2 columns">
		<h4> Requested </h4>
	</div>
	<div class="small-2 large-2 columns">
		<h4> Criminal Passed </h4>
	</div>
	<div class="small-2 large-2 columns">
		<h4> Child Abuse Passed </h4>
	</div>
	<div class="small-2 large-2 columns">
		<h4> Under Review </h4>
	</div>
	<div class="small-2 large-2 columns">
		<h4> No Cleared </h4>
	</div>
	<div class="small-2 large-2 columns">
		<h4> Expired </h4>
	</div>
</div>

<div class="row">
	<!-- Requested -->
	<div class="small-2 large-2 columns">
		<!-- content -->
		<% @bgChecks_requested.each do |bgcheck| %>
			<div class="panel"><%= link_to bgcheck.individual.name, individual_path(bgcheck.individual.id) %></div>
		<% end %>
	</div>

	<!-- Criminal passed -->
	<div class="small-2 large-2 columns">
		<!-- content -->
		<% @bgChecks_pCriminal.each do |bgcheck| %>
			<div class="panel"><%= link_to bgcheck.individual.name, individual_path(bgcheck.individual.id) %></div>
		<% end %>
	</div>

	<!-- Child Abuse passed -->
	<div class="small-2 large-2 columns">
		<!-- content -->
		<% @bgChecks_pChildAbuse.each do |bgcheck| %>
			<div class="panel"><%= link_to bgcheck.individual.name, individual_path(bgcheck.individual.id) %></div>
		<% end %>
	</div>

	<!-- Under review -->
	<div class="small-2 large-2 columns">
		<!-- content -->
		<% @bgChecks_underReview.each do |bgcheck| %>
			<div class="panel"><%= link_to bgcheck.individual.name, individual_path(bgcheck.individual.id) %></div>
		<% end %>
	</div>

	<!-- Not cleared  -->
	<div class="small-2 large-2 columns">
		<!-- content -->
		<% @bgChecks_nCleared.each do |bgcheck| %>
			<div class="panel"><%= link_to bgcheck.individual.name, individual_path(bgcheck.individual.id) %></div>
		<% end %>
	</div>

	<!-- Expired  -->
	<div class="small-2 large-2 columns">
		<!-- content -->
		<% @bgChecks_expired.each do |bgcheck| %>
			<div class="panel"><%= link_to bgcheck.individual.name, individual_path(bgcheck.individual.id) %></div>
		<% end %>
	</div>



</div>