<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Awesome Name</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
		<%= form_for(User.new, :url => user_session_path) do |f| %>
		<div class="row collapse">
			<li class="small-4 columns"><%= f.email_field :email, :id => 'email', :placeholder => 'email' %></li>
			<li class="small-4 columns"><%= f.password_field :password, :id => 'password', :placeholder => 'password' %></li>
			<li class="small-4 columns text-center"><%= f.submit 'Login', :id => 'submit', :class => 'button' %></li>
		</div>
		
		<% end %>
    </ul>
  </section>
</nav>


<div class="row" data-equalizer>

	<% if (current_user != nil) && current_user.admin? %>
		<%= render 'home_for_admin' %>
	<% elsif (current_user != nil) && current_user.member? %>
		<h3> Welcome back to the Gelfand Center! </h3>
		Here you can:	<br>
			- track your background check <br>
			- create/manage your organization <br>
			- add individuals to your organization <br>
	<% else %>
		<h3> Welcome to the Gelfand Center! </h3>
	<% end %>

</div>



