<div class="row">
  <br />
  <div class="row">
    <div class="small-6 columns">
      <h1>Background Checks</h1>
    </div>
    <div class="small-6 columns">
      <%= link_to "Create New Record", new_individual_path, :class => "button right" %>
    </div>
  </div>
  <br />
  <div class="row">
      <!-- Filter button -->
      <div class="small-4 columns">
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">
              <% filter = ""
                if params[:filter] == nil 
                  filter = "Incomplete"
                elsif params[:filter] == "all"
                  filter = "All"
                elsif params[:filter] == "in_progress"
                  filter = "Clearances in Progress"
                elsif params[:filter] == "complete"
                  filter = "Complete"
                elsif params[:filter] == "expiring"
                  filter = "Expiring"
                elsif params[:filter] == "expired"
                  filter = "Expired"
                elsif params[:filter] == "has_issues"
                  filter = "Has Issues"
                elsif params[:filter] == "not_cleared"
                  filter = "Not Cleared"
                end%>
                <%= filter %>
            </button><br />
            <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
              <li><%= link_to "Incomplete", params.merge(:filter => :incomplete) %></li>
              <li><%= link_to "Complete", params.merge(:filter => :complete) %></li>
              <li><%= link_to "Expired", params.merge(:filter => :expired) %></li>
              <li><%= link_to "Has Issues", params.merge(:filter => :has_issues) %></li>
              <li class="divider"></li>
              <li><%= link_to "All", params.merge(:filter => :all) %></li>
              <li><%= link_to "Clearances in Progress", params.merge(:filter => :in_progress) %></li>
              <li><%= link_to "Expiring", params.merge(:filter => :expiring) %></li>
              <li><%= link_to "Not Cleared", params.merge(:filter => :not_cleared) %></li>
            </ul>
      </div>
      <!-- Search text area -->
      <div class="small-6 columns">
          <%= form_tag bg_checks_path, :method => 'get', :id => "bg_checks_search" do %>
          <%= text_field_tag :search, params[:search] %>
      </div>
      <!-- Search button -->
      <div class="small-2 columns">
              <%= submit_tag "Search", :name => nil, :class => "alert button expand" %>
              <% end %>
      </div>
  </div>

 

<div id="bg_checks">
    <%= render 'bg_checks' %>
</div>

</div>