<div class="row">
  <div class="row">
    <h1>Background Checks</h1>
  </div>
  <br />
  <div class="row">
      <!-- Filter button -->
      <div class="small-3 columns">
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Filter</button><br />
            <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
              <li><%= link_to "Submitted", "filter/submitted", remote: true %></li>
              <li><%= link_to "Criminal Passed", "filter/crim_passed", remote: true %></li>
              <li><%= link_to "Child Abuse Passed", "filter/abuse_passed", remote: true %></li>
              <li><%= link_to "Picked Up/Mailed", "filter/complete", remote: true %></li>
              <li class="divider"></li>
              <li><%= link_to "Has Issues", "filter/with_issues", remote: true %></li>
              <li><%= link_to "In Progress", "filter/in_progress", remote: true %></li>
            </ul>
      </div>
      <!-- Search text area -->
      <div class="small-7 columns">
          <%= form_tag bg_checks_path, :method => 'get', :id => "bg_checks_search" do %>
          <%= text_field_tag :search, params[:search] %>
      </div>
      <!-- Search button -->
      <div class="small-2 columns">
              <%= submit_tag "Search", :name => nil, :class => "alert button expand" %>
              <% end %>
      </div>
  </div>
 

<div id="bg_checks">
    <%= render 'bg_checks' %>
</div>

</div>