<div class="row">
  <div class="row">
    <h1>Background Checks</h1>
  </div>
  <br />
  <div class="row">
    <div class="small-2 columns">
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Filter</button><br />
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
        <li><a href="#">Submitted</a></li>
        <li><a href="#">Criminal Passed</a></li>
        <li><a href="#">Child Abuse Passed</a></li>
        <li><a href="#">Picked Up/Mailed</a></li>
        <li class="divider"></li>
        <li><a href="#">Has Issues</a></li>
        <li><a href="#">In Progress</a></li>
      </ul>
    </div>
  </div>

  <div class="row panel">
    <div class="small-3 small-offset-1 columns">
      <label><strong>Name</strong></label>
    </div>
    <div class="small-2 columns text-center">
      <label><strong>Submitted</strong></label>
    </div>
    <div class="small-2 columns text-center">
      <label><strong>Criminal Passed</strong></label>
    </div>
    <div class="small-2 columns text-center">
      <label><strong>Child Abuse Passed</strong></label>
    </div>
    <div class="small-2 columns text-center">
      <label><strong>Picked Up/Mailed</strong></label>
    </div>
  </div>

  <br />

  <% count = 0 %>
  <dl class="accordion" data-accordion>
    <% @bg_checks.each do |bg_check| %>
      <% count += 1 %>
      <dd class="accordion-navigation">
        <div class="row">
          <div class="small-1 column text-right">
            <a href="#panel<%=count%>"><%= fa_icon('angle-down') %></a>
          </div>
          <div class="small-3 columns">
            <%= link_to bg_check.individual.name, bg_check %>
          </div>
          <div class="small-2 columns text-center">
            <%= fa_icon('check', class: 'check_icon') %>
          </div>
          <div class="small-2 columns text-center">
            <%= fa_icon('ellipsis-h') %>
          </div>
          <!--<div class="small-2 columns text-center">
            <%= fa_icon('ellipsis-h') %>
          </div>
          <div class="small-2 columns text-center">
            <%= fa_icon('ellipsis-h') %>
          </div>-->
          <br />
          <hr>
        </div>
        <div id="panel<%=count%>" class="row content">
          Issue information would go right on in here.
        </div>
      </dd>
      
    <% end %>
  </dl>

</div>