<% stages=["Submitted", "Criminal Passed", "Child Abuse Passed", "Picked Up/Mailed"] %>
<% num_stages = 4 %>
<div class="row">
    <h1>My Background Check Status</h1>
    <br>
    <h3>Current step<h3>
</div>

<div class="row">
    <% for i in 0..(num_stages-1) %>
        <div class="small-3 columns">
        <%= stages[i] %>
        </div>
    <% end %>
</div>

<div class="row">
    <% for i in 0..(num_stages-1) %>
      <div class="small-3 columns">
          <% if i==0 and @bg_check.status == 0 %>
              ...
          <% elsif i==0 and @bg_check.status > 0 %>
              done
          <% elsif i==1 and @bg_check.status == 1 %>
              ...
          <% elsif i==1 and @bg_check.status > 1 %>
              done
          <% elsif i==1 and @bg_check.status == 2 %>

          <% end %>
      </div>
    <% end %>
</div>

    <div class="bg-wrapper">
      <div class="bg-status-bar">

        <div class="row text-center">
          <% if @bg_check.status == 0 %>
            <div class="small-3 small-offset-1 columns"><strong class="current-step">Started</strong></div>
            <div class="small-1 column">></div>
            <div class="small-3 columns">In Progress</div>
            <div class="small-1 column">></div>
            <div class="small-3 columns">Finished</div>

          <% elsif @bg_check.status == 1 || @bg_check.status == 3 %>
            <div class="small-3 small-offset-1 columns">Started</div>
            <div class="small-1 column">></div>
            <div class="small-3 columns"><strong class="current-step">In Progress</strong></div>
            <div class="small-1 column">></div>
            <div class="small-3 columns">Finished</div>
          <% else %>
            <div class="small-3 small-offset-1 columns">Started</div>
            <div class="small-1 column">></div>
            <div class="small-3 columns">In Progress</div>
            <div class="small-1 column">></div>
            <div class="small-3 columns"><strong class="current-step">Finished</strong></div>
          <% end %>
        </div>

      </div>
      <br>


      <div class="bg-body">
        <% if @bg_check.status == 0 %>
              <%= render 'requested' %>
        <% elsif @bg_check.status == 1 %>
              <%= render 'crim_passed' %>
        <% elsif @bg_check.status == 2 %>
              <%= render 'all_passed'%>
        <% elsif @bg_check.status == 3 %>
              <%= render 'under_review' %>
        <% elsif @bg_check.status == 4 %>
              <%= render 'excluded'%>
        <% end %>
      </div>
    </div>

