<% stages=["Clearances", "Clearance Status"] %>
<% num_stages = 2 %>
<div class="row">
  <div class="small-9 columns">
    <h2><%= @bg_check.individual.proper_name %>'s Background Check</h2>
    <br>
  </div>
  <div class="small-3 columns">
    <% if current_user.admin?%>
       <%=link_to fa_icon("edit"), edit_bg_check_path, class:"edit-icon" %>
    <% end %>
  </div>
</div>

<div class="row">  
    <% for i in 0..(num_stages-1) %>
        <div class="small-6 columns text-center">
         <strong><%= stages[i] %></strong>
        </div>
    <% end %>
  </div>
</div>
<!-- i represents which stage (not related to ith element of stages) -->

<br />
<div class="row">
      <div class="small-6 columns text-center">
        <% if @bg_check.status == 3 %>
          <%= fa_icon('close', class: 'close-icon large-icon') %>
        <% elsif @bg_check.status > 0 %>
          <div class="panel dates-panel<%= @bg_check.clearances_remaining %>">
            <div class="row">
              <div class="small-4 columns">
                <strong>Criminal Clearance </strong>
              </div>
              <div class="small-4 columns">
                <strong>Child Abuse Clearance </strong>
              </div>
              <div class="small-4 columns">
                <strong>FBI Clearance </strong>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="small-4 columns">
                <% unless @bg_check.criminal_date.nil? %> 
                  Expires: <%= @bg_check.criminal_date.strftime("%-m/%-d/%y") %>
                <% else %>
                  Required
                <% end %>
              </div>
              <div class="small-4 columns">
                <% unless @bg_check.child_abuse_date.nil? %> 
                  Expires: <%= @bg_check.child_abuse_date.strftime("%-m/%-d/%y") %>
                <% else %>
                  Required
                <% end %>
              </div>
              <div class="small-4 columns">
                <% unless @bg_check.fbi_date.nil? %> 
                  Expires: <%= @bg_check.fbi_date.strftime("%-m/%-d/%y") %>
                <% else %>
                  Required
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <%= fa_icon('ellipsis-h') %>
        <% end %>
      </div>
      <div class="small-6 columns text-center">
        <% if @bg_check.status == 3 %>
          <%= fa_icon('close', class: 'close-icon large-icon') %>
        <% elsif @bg_check.status > 0 %>
          <% if @bg_check.status == 2 %>
            <% if @bg_check.issues.active.empty? %>
              <%= fa_icon('check', class: 'check-icon large-icon') %>
            <% else %>
              <%= fa_icon('warning', class: 'warning-icon large-icon') %>
            <% end %>
          <% elsif @bg_check.status == 1 %>
            <%= fa_icon('ellipsis-h', class: '') %>
          <% elsif @bg_check.status == 4 %>
            <%= fa_icon('warning', class: 'early-warning-icon large-icon') %>
          <% elsif @bg_check.status == 5 %>
            <%= fa_icon('warning', class: 'warning-icon large-icon') %>
          <% else %>
            <%= fa_icon('ellipsis-h') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

    <br>
    <br>
    <br>
</div>

<% if !@bg_check.issues.active.empty? %>
<div class="row">
  <div class="small-12 columns">
    <h3>Issue(s)</h3>
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
            <%if current_user.admin? %>
              <th></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% @bg_check.issues.active.each do |issue| %>
            <tr>
              <td>
                <%=issue.category%>
              </td>
              <td>
                <%=issue.description%>
              </td>
              <%if current_user.admin?%>
                <td>
                  <!--  -->
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
<% end %>

<div class="row">
  <div class="small-12 columns">

    <% if @bg_check.status == 3 %>
          <%= render 'excluded' %>
    <% elsif !@bg_check.issues.active.empty? %>
          <%= render 'has_issues' %>
    <% elsif @bg_check.status == 0 %>
          <%= render 'requested' %>
    <% elsif @bg_check.status == 1 %>
          <%= render 'in_progress' %>
    <% elsif @bg_check.status == 2 %>
          <%= render 'all_passed' %>
    <% elsif @bg_check.status == 4 %>
          <%= render 'expiring' %>
    <% elsif @bg_check.status == 5 %>
          <%= render 'expired' %>
    <% end %>
  </div>
</div>

<br>




