<% stages=["Submitted", "Criminal Passed", "Child Abuse Passed", "Picked Up/Mailed"] %>
<% num_stages = 4 %>
<div class="row">
  <div class="small-9 columns">
    <h1>My Background Check Status</h1>
    <br>
  </div>
  <div class="small-3 columns">
    <% if current_user.admin?%>
       <%=link_to fa_icon("edit"), edit_bg_check_path, class:"edit-icon" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Current Step</h3>
  </div>
</div>
<div class="row">  
    <% for i in 0..(num_stages-1) %>
        <div class="small-3 columns">
        <%= stages[i] %>
        </div>
    <% end %>
  </div>
</div>

<!-- i represents which stage (not related to ith element of stages) -->
<div class="row">
    <% for i in 0..(num_stages-1) %>
      <div class="small-3 columns">
          <% if i==0 and @bg_check.status == 0 %>
              ...
          <% elsif i==0 and @bg_check.status >= 1 %>
              <%=fa_icon("check", class: "check_icon")%>
          
          <!-- can also be 5 if not cleared-->
          <% elsif i==1 and (@bg_check.status == 1 || @bg_check.status == 5) %>
              ...
              <!-- only if not at not cleared (bg status != 5) load these so no checks show --> 
              <% elsif i==1 and (@bg_check.status >= 2 and !(@bg_check.status == 5)) %>
                  <%=fa_icon("check", class: "check_icon")%>
              
              <% elsif i==2 and @bg_check.status == 2 %>
                  ...
              
              <% elsif i==2 and (@bg_check.status >= 3 and !(@bg_check.status == 5)) %>
                  <%=fa_icon("check", class: "check_icon")%>
              
              <% elsif i==3 and @bg_check.status == 3 %>
                  ...
              
              <% elsif i==3 and @bg_check.status == 4 %>
                  <%=fa_icon("check", class: "check_icon")%>
              
          <% end %>
      </div>
    <% end %>

    <br>
    <br>
    <br>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Issue(s)</h3>
    <% if @bg_check.issues.empty? %>
      <p>There are no issues at this time</p>
    <%else%>
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
            <%if current_user.admin? %>
              <th></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% @bg_check.issues.each do |issue| %>
            <tr>
              <td>
                <%=issue.category%>
              </td>
              <td>
                <%=issue.description%>
              </td>
              <%if current_user.admin?%>
                <td><!-- icon based on bg_check status -->
                  <!--CORY I'LL LET YOU USE THIS SPACE FOR RESOLVE -->
                </td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Description</h3>

    <% if @bg_check.status == 0 %>
          <%= render 'requested' %>
    <% elsif @bg_check.status == 1 %>
          We are currently reviewing your forms for attaining criminal clearance.
    <% elsif @bg_check.status == 2 %>
          <%= render 'crim_passed' %>
    <% elsif @bg_check.status == 3 %>
          <%= render 'all_passed'%>
    <% elsif @bg_check.status == 4 %>
          You have been cleared and your forms were picked up.
    <% elsif @bg_check.status == 5 %>
          <%= render 'under_review' %>
    <% end %>
  </div>
</div>

<br>




