<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "org-text-area" %>
  </div>
    <%= f.hidden_field :active, :value => true %>
  <div class="field">
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>
  <br>
  <br>

    <h3>Add People to your Organization</h3>

    <h5>Search by Name</h5>

    <div class="row">
    <div id="programs-new-orgselect" class="row">
        <div class="small-5 columns">
        <%= f.collection_select :individual_ids, Individual.all, :id, :name, {:include_blank => false}, {:class => "chosen-select", :multiple => "true"} %>
        </div>
      </div>
    </div>  
    <!-- see: http://stackoverflow.com/questions/11349508/rails-simpleform-with-non-model-inputs -->
  <%= f.label :Add_by_email %>
  <%= f.text_field :new_emails, :required => true, :input_html => { :id => "tags"} %> 


  <div class="actions">
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>
