<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "org-text-area" %>
  </div>
    <%= f.hidden_field :active, :value => true %>
  <div class="field">
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>

    <h3>Add People to your Organization</h3>

    <br>
    <h5>Search by Name</h5>

    <div class="row">
    <div id="programs-new-orgselect" class="row">
        <div class="small-5 columns">
        <%= f.select :memberships, Individual.all.alphabetical.map{ |indiv| [indiv.name, indiv.id] }, {:include_blank => true}, {:class => "chosen-select", :multiple => true} %>
        </div>
      </div>
    </div>  

  <div class="actions">
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>
