
<div class="row" data-equalizer>
  <div class="small-10 small-centered columns" data-equalizer-watch>
		<h1>Manage <%= @organization.name %> </h1>
		
		<h3>General Info</h3>

		<div class="org_form">
			<%= render 'form' %>
		</div>

		<br />

		<!-- add member -->
	    <% if (current_user.admin || current_user.is_orgUser_for_specific_org(@organization)) %>
	            <tbody>
	                <tr><td class="OrgShowAddMemForm">
	                    <%= simple_form_for OrganizationMailer.new, :html => {:class => 'form-horizontal' } do |f| %>
	                      <%= f.input :currently_registered_email, :label => "Email", :required => true %>
	                      <div class="hidden">
	                        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
	                      </div>
	                      <div class="hidden">
	                        <%= f.input :org_name, :input_html => { :value => @organization.name } %>
	                      </div>
	                      <div class="hidden">
	                        <%= f.input :NOTICE, :input_html => { :value => 
	                          "You have been temporarily given a Membership to \"#{@organization.name}\". To officially be in the system, sign up at: http://gelfand-gelfand.rhcloud.com/users/sign_up"
	                         } %>
	                      </div>
	                      <%= hidden_field_tag :organization_id, @organization.id %>
	                      <div>
	                        </br>
	                        <%= f.button :submit, 'Add', :class => "button", :id=> "addingFormButton" %>
	                      </div>
	                    <% end %>
	              </td></tr>
	          </tbody>
	    <% end %>
    <!-- -->

	</div>

</div>