<div class="row">
  <div class="small-8 columns">
        <h1>  <%= @organization.name %></h1>
        <h3>General Info</h3>
    </div>

    <div class="small-4 columns">
        <div class="text-right">                
            <% if current_user.admin? or current_user.is_orgUser_for_specific_org(@organization) %>
               <%=link_to fa_icon("edit"), edit_organization_path, class:"edit-icon" %>
            <% end %>
        </div>
    </div>
</div>

<br>
  
<div class="row" data-equalizer>
  <div class="small-12 small-centered columns" data-equalizer-watch>

        Contact(s):

        <% count = 1 %>
        <% @organization.get_org_users_emails.each do |email| %>
            <%= email %>
            <!-- add comma after all emails but last -->
            <% if count != @organization.get_org_users_emails.length %> , <% end %>
        <% count += 1%>
        <% end %>

    <h5>Description:</h5>
    <%= @organization.description %>

    <br>
    <br>
    <br>

    <h3>Programs <%= @organization.name %> is participating in </h3>
    <%= link_to "Create a Program for your Organization", new_program_path + "?org_id=" + "#{@organization.id}", :class => "button" %>

    <br>
        <% if @organization.affiliated_progs.empty? %>
            Currently there are no programs available.
        <% else %>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% @organization.programs. each do |program| %>
                        <tr>
                            <td><%= link_to program.name, program_path(program) %></td>
                            <td><%= program.start_date.strftime "%m/%d/%y" %></td>
                            <td><%= program.end_date.strftime "%m/%d/%y" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>

    <br>
    <br>
    <h3>People in the Organization</h3>
    <%= link_to "Add a Member to your Organization", edit_organization_path, :class => "button" %>

        <% if @organization.get_all_individuals.empty? %>
            Currently there are no members
        <% else %>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Cleared?</th>
                    </tr>
                </thead>
                <tbody>
                    <% @organization.get_all_individuals.each do |indiv| %>
                        <tr>
                            <td><%= indiv.proper_name %></td>
                            <td><%= User.where(id: indiv.user_id)[0].email %></td>
                            <td>
                                <% if indiv.bg_check.nil? %>
                                Not started
                                <% elsif indiv.bg_check.status == 2 %>
                                Yes
                                <% else %>
                                No
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>    

    <br />

</div>
</div>