<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The Gelfand Center" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'gelfand_favicon.png' %>
  </head>

  <body>
  
  <!-- in case no one is logged in currently -->
  <% if current_user.nil? %>
    <%= render "shared_partials/top_bar_with_login" %>
  <% else %>
    <%= render "shared_partials/top_bar_with_links" %>
  <% end %>


    <%= yield %>

      <%= render "shared_partials/footer" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>